[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "2.2.2"
flask-migrate = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
gunicorn = "*"
honcho = "*"
importlib-metadata = "*"
psycopg2-binary = "*"
python-dotenv = "0.21.0"
sqlalchemy-serializer = "*"
flask-cors = "*"
flask-bcrypt = "*"
faker = "*"
boto3 = "*"

[dev-packages]

[requires]
python_version = "3.8.13"
