.sidebar {
    position: fixed;
    top: 0;
    left: -350px;
    /* start offscreen */
    bottom: 0;
    width: 350px;
    padding: 20px;
    background-color: #212121;
    animation: slide-in 0.8s forwards;
    overflow-y: auto
        /* slide in animation */
}

/* define slide-in animation */
@keyframes slide-in {
    0% {
        left: -350px;
    }

    /* start offscreen */
    100% {
        left: 0;
    }

    /* end onscreen */
}


.sidebar a {
    display: block;
    padding: 10px;
    color: #686868;
    text-decoration: none;
    font-size: large;
    padding: 20px;
}

.sidebar a.active {
    font-weight: bold;
    color: #ebeee1;
}

.logo {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #91A93C;
    display: inline-block;
    font-size: 30px;
}

.logo-img {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
    margin-bottom: 15px;
    transition: transform 0.2s ease-in-out;
}

.logo-img:hover {
    transform: scale(1.1);
}

.icons {
    height: 25px;
    width: 25px;
    margin-right: 10px;
}


.sidebar.sidebar.sidebar {
   position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   width: 250px;
   padding: 20px;
   background-color: #212121;
}

body {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
  }
.saucer {
  width:30px;
  background-color:#91A93C;
  height:5px;
  margin-top: -40px;
  margin-left:145px;
  position:absolute;
  border-radius:30% 30% 50% 50%;
}
.steaming-coffee {
  position: relative;
}
.cup {
  position: relative;
  width:20px;
  height: 15px;
  background-color: #91A93C;
  top:-40px;
  left:150px;
  border-radius: 0 0 80px 80px;
}
.cup:before {
  content:"";
  position: absolute;
  width:12px;
  height:12px;
  border: 2px solid #91A93C;
  border-radius:50%;
  left:-8px;
  top:3px;
}
 .cup:after {
  content:"";
  position: absolute;
  background-color: #fff;
  height:15px;
  width:35px;
  border-radius:2px;
  top:160px;
  left:-80px;
}
 .test {
  position: relative;
  width:200px;
  height: 1000px;
  overflow: hidden;
  opacity:0.5;
  top:-180px;
  left: 80px;
  margin-bottom: -1000px;
}
 @keyframes steam {
  0% {transform: translateY(100px);}
  100% {transform: translateY(7px);}
}
 .steam {
  position: absolute;
  top:10px;
  animation: steam 3s linear infinite;
}
 .steam-2 {
  position: absolute;
  top:10px;
  left:20px;
  animation: steam 3s linear infinite;
}
 .steam-3 {
  position: absolute;
  top:10px;
  left:40px;
  animation: steam 3s linear infinite;
}
 .one {
  position: absolute;
}
 .two {
  position: absolute;
}
 .steam:before, .one:before, .two:before, .steam-2:before, .steam-3:before {
  content:"";
  position: absolute;
  border-left: 7px solid #91A93C;
  border-top: 7px solid #91A93C;
  width:30px;
  height: 30px;
  border-top-left-radius:100%;
  transform: rotate(-40deg);
}
 .one:before {
  top:-93px;
  left:0;
}
 .two:before {
  top:-185px;
  left:1.2px;
}
 .steam:after, .one:after, .two:after, .steam-2:after, .steam-3:after {
  content:"";
  position: absolute;
  border-right: 7px solid #91A93C;
  border-top: 7px solid #91A93C;
  width:30px;
  height: 30px;
  border-top-right-radius:100%;
  transform: rotate(40deg);
}
 .steam:after {
  top:-46.5px;
  left:4px;
}
 .one:after {
  top: -139.5px;
  left:4px;
}
 .two:after {
  top:-231px;
  left:4.7px;
}
 .steam-2:after,
.steam-3:after {
  top:-46.5px;
  left:4.5px;
}
 .loader {
  margin-top:-65px;
  margin-left:130px;
  border: 20px solid #EAF0F6;
  border-radius: 50%;
  border-top: 5px solid #CFD6BD;
  border-right: 5px solid #CFD6BD;
  border-left: 5px solid #CFD6BD;
  border-bottom: 5px solid #212121;
  width: 60px;
  height: 60px;
  animation: spinner 3s linear infinite;
}
 @keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
